# SPDX-License-Identifier: GPL-3.0
#
# Copyright (C) 2025 KaliAssistant
# Author: KaliAssistant
#
# This file is part of the Lichee-Jack project and is licensed under the GNU
# General Public License v3.0 or later.


[Unit]
Description=Start udhcpd daemon use conf file
After=network.target

[Service]
ExecStart=/usr/sbin/udhcpd -f /root/config/udhcpd/%i.conf
Type=simple

[Install]
WantedBy=multi-user.target
