Package: wgcf
Version: 0.0.1-licheejack
Section: net
Priority: optional
Architecture: riscv64
Maintainer: KaliAssistant <work.kaliassistant.github@gmail.com>
Description: Cross-platform, unofficial CLI for Cloudflare Warp
 wgcf is an unofficial, cross-platform CLI for Cloudflare Warp
 Features:
 - Register new account
 - Change license key to use existing Warp+ subscription
 - Generate WireGuard profile
 - Check account status
 - Print trace information to debug Warp/Warp+ status
 .
 Notice of Non-Affiliation and Disclaimer:
 We are not affiliated, associated, authorized, endorsed by, or in any 
 way officially connected with Cloudflare, or any of its subsidiaries 
 or its affiliates. The official Cloudflare website can be found at 
 https://www.cloudflare.com/.
 .
 The names Cloudflare Warp and Cloudflare as well as related names,
 marks, emblems and images are registered trademarks of their
 respective owners.
